{% extends "layout.html" %}
{% block list %}
    <li><a href="/">Password Manager</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/table">Table</a></li>
    <li><a href="/login">Logout</a></li>
{% endblock %}

{% block body %}
<div class="form">
    <form action="/add" method="post" class="login-form">
        <input type="text" autocomplete="off" autofocus name="sitename" placeholder="Site name">
        <input type="text" autocomplete="off" name="username" placeholder="User name">
        <button type="submit">Confirm</button>
    </form>
</div>
{% endblock %}




