<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="head_list">
            <ul class="head_list_ul">
                {% block list%}

                {% endblock %}
            </ul>
        </div>
        {% block body %}

        {% endblock %}
    </div>
    <footer class="footer center">
        <span>&copy;Mahmoud Elkholy</span>
        <span class="date"></span>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>



